*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.out
.DS_Store
doc/report/project-report.pdf
*.tps
Thumbs.db
src/.vs/VSWorkspaceState.json
src/.vs/src/v16/Browse.VC.db
src/.vs/src/v16/.suo
src/.vs/slnx.sqlite
src/.vs/ProgrammingAssignment/v16/ipch/AutoPCH/e5b9e20ed12a5b26/WINDOW.ipch
src/.vs/ProgrammingAssignment/v16/ipch/AutoPCH/7319f2db69e9eaf3/MAIN.ipch
src/.vs/ProgrammingAssignment/v16/Browse.VC.db
src/.vs/ProgrammingAssignment/v16/.suo
src/Debug/Programm.59208F31.tlog/link.write.1.tlog
src/Debug/Programm.59208F31.tlog/link.read.1.tlog
src/Debug/Main.obj
src/.vs/ProgrammingAssignment/v16/Browse.VC.opendb
src/.vs/ProgrammingAssignment/v16/Browse.VC.db-wal
src/.vs/ProgrammingAssignment/v16/Browse.VC.db-shm
src/Debug/Main.obj
src/Debug/Programm.59208F31.tlog/link.read.1.tlog
src/Debug/Programm.59208F31.tlog/link.write.1.tlog

